* {
  box-sizing: border-box;
}

.card {
  min-width: 100%;
  border: 2px solid rgb(239, 167, 167);
  background-color: darkgrey;
}

.tic-tac-toe {
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 180px);
  justify-content: center;
  align-content: center;
}

.card.hide-x {
  background-image: url('/img/x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card.hide-0 {
  width: 100px;
  background-image: url('/img/0.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.game-buttons {
  flex-direction: column;
  gap: 10px;
}

.modal-box h3 {
  padding: 10px;
  color: antiquewhite;
}

.re-player-btn {
  width: 200px;
}
