* {
  box-sizing: border-box;
}

h1 {
  font-size: 90px;
  font-weight: 600;
  font-family: 'Niconne', cursive;
  color: #0dcd8d;
  text-shadow: 2px 2px 0px #957dad, 4px 4px 0px #ee4b2b, 6px 6px 0px #00c2cb,
    8px 8px 0px #ff7f50, 10px 10px 0px #553c9a;
  padding: 25px;
}
img {
  display: absolute;
}
.btn.start {
  height: 50px;
  width: 300px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

.btn.size {
  width: 97px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  color: black;
}

body {
  height: 100vh;
  background-image: url('https://i.stack.imgur.com/TUou4.png');
}
.main-layout {
  min-width: 980px;
}
.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.main-container {
  text-align: center;
  padding-bottom: 25px;
}

.container {
  min-height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
  gap: 30px;
}
.item {
  border: 2px dotted black;
  border-radius: 100%;
}

.item:hover {
}

/* .item1 {
  background-color: rgb(7, 247, 255);
}
.item2 {
  background-color: rgb(255, 8, 8);
}
.item3 {
  background-color: rgb(255, 140, 0);
}
.item4 {
  background-color: rgb(134, 98, 240);
}
.item5 {
  background-color: rgb(7, 247, 255);
}
.item6 {
  background-color: rgb(134, 98, 240);
}
.item7 {
  background-color: rgb(255, 8, 8);
}
.item8 {
  background-color: rgb(255, 140, 0);
} */

.white {
  background-color: rgb(251, 248, 248);
  border: 3px solid rgb(230, 16, 16);
}

.hide {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    101deg,
    rgba(131, 58, 180, 21) 0%,
    rgba(164, 111, 111, 21) 39%,
    rgba(252, 176, 69, 21) 100%
  );
}

.levels {
  padding: 10px;
}

.black {
  display: none;
}
