@font-face {
  font-family: Caveat;
  src: url('/fonts/Caveat-VariableFont_wght.ttf');
}

@font-face {
  font-family: Shadows;
  src: url('/fonts/ShadowsIntoLight-Regular.ttf');
}
@font-face {
  font-family: PaytoneOne;
  src: url('/fonts/ShadowsIntoLight-Regular.ttf');
}

* {
  box-sizing: border-box;
}

a:hover {
  color: #fbf6f4;
}

body {
  height: 100vh;
  background-image: url('https://img.freepik.com/premium-vector/vector-jungle-illustration-game-background_303920-13.jpg?w=2000');
}
.header-container {
  max-width: 100%;
}

.box-container h1 {
  font-size: 90px;
  font-weight: 600;
  /* font-family: 'Niconne', cursive; */
  color: #fda270;
  text-shadow: 2px 2px 0px #957dad, 4px 4px 0px #ee4b2b, 6px 6px 0px #00c2cb,
    8px 8px 0px #ff7f50, 10px 10px 0px #553c9a;
  padding: 25px;
}

h5 {
  color: aliceblue;
  font-family: Caveat;
  font-size: x-large;
}

img {
  display: absolute;
}

header {
  min-height: 50px;
}

.header-nav {
  width: 400px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  margin: 15px;
  font-family: Shadows;
  font-weight: 400;
  font-size: x-large;
  color: #f77a62;
}

.header-container h1 {
  width: 150px;
  font-family: Caveat, cursive;
  color: #ee4b2b;
}
/* .header-nav {
  display: flex;
  justify-content: space-between;
} */

.btn.start {
  height: 50px;
  width: 300px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

.btn.size {
  width: 97px;
  font-family: Caveat, 'Times New Roman', Times, serif;
  font-weight: 700;
  color: black;
}

.main-layout {
  min-width: 980px;
}

.main-container {
  text-align: center;
  padding-bottom: 25px;
}

.modal-box {
  display: grid;
  justify-content: center;
  align-content: center;
}

.container {
  min-height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
  gap: 30px;
}

.levels {
  padding: 10px;
}

.item {
  border: 2px dotted black;
  border-radius: 100%;
}

.contact-btn {
  color: white;
  width: 200px;
  background-color: #ee4b2b;
}
.contact-btn a {
  color: white;
}
.my-about {
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}

.container-form {
  color: #ee4b2b;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}

/* helpers */
.white {
  background-color: rgb(251, 248, 248);
  border: 3px solid rgb(230, 16, 16);
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.hide {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    101deg,
    rgba(131, 58, 180, 21) 0%,
    rgba(164, 111, 111, 21) 39%,
    rgba(252, 176, 69, 21) 100%
  );
}

.grid {
  display: grid;
}

.display-none {
  display: none;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.main-container .text-logo {
  font-family: Caveat, cursive;
  color: #ee4b2b;
}

.main-container p {
  color: whitesmoke;
  max-width: 980px;
}

.row {
  flex-direction: row;
}

.score-container {
  font-family: Caveat, cursive;
  color: #ffffff;
  display: grid;
  justify-content: center;
  align-content: center;
}

.score-container h3 span {
  color: #ffffff;
  font-size: xx-large;
}

.img-game {
  max-height: 200px;
  max-width: 100%;
}

.games-container h1 {
  padding: 20px;
  font-family: Caveat, cursive;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
}

.games {
  font-family: Caveat, cursive;
  color: #ffffff;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  text-align: center;
}

.game-box1,
.game-box2 {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
