@font-face {
  font-family: Caveat;
  src: url('/./fonts/Caveat-VariableFont_wght.ttf');
}

@font-face {
  font-family: Shadows;
  src: url('/./fonts/ShadowsIntoLight-Regular.ttf');
}
@font-face {
  font-family: PaytoneOne;
  src: url('/./fonts/ShadowsIntoLight-Regular.ttf');
}

* {
  box-sizing: border-box;
}

.main-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  cursor: pointer;
  opacity: 0;

  pointer-events: none;

  transition: opacity 0.6s;
}

a:hover {
  color: #fbf6f4;
}

body {
  /* height: 100vh; */
  margin: 0;
  font-size: 0.875rem;
  background-image: url('/img/cover.jpg');
}
.header-container {
  max-width: 100%;
}

.box-container h1 {
  font-size: 90px;
  font-weight: 600;
  /* font-family: 'Niconne', cursive; */
  color: #0a0909;
  text-shadow: 2px 2px 0px #957dad, 4px 4px 0px #ee4b2b, 6px 6px 0px #00c2cb,
    8px 8px 0px #ff7f50, 10px 10px 0px #553c9a;
  padding: 25px;
}

h5 {
  color: aliceblue;
  font-family: Caveat;
  font-size: x-large;
}

img {
  display: absolute;
}

header {
  min-height: 50px;
}

.header-nav {
  width: 400px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  margin: 15px;
  font-family: Shadows;
  font-weight: 400;
  font-size: x-large;
  color: #000000;
}

.header-container h1 {
  width: 150px;
  font-family: Caveat, cursive;
  color: #000000;
}
/* .header-nav {
  display: flex;
  justify-content: space-between;
} */

.btn.start {
  height: 50px;
  width: 300px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

.btn.size {
  width: 97px;
  font-family: Caveat, 'Times New Roman', Times, serif;
  font-weight: 700;
  color: black;
}

.main-layout > *:not(.full) {
  margin-inline-end: 20px;
  margin-inline-start: 20px;
}

.main-container {
  text-align: center;
  padding-bottom: 25px;
}

.modal-box {
  display: grid;
  justify-content: center;
  align-content: center;
}

.container {
  min-height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
  gap: 30px;
}

.levels {
  padding: 10px;
}

.item {
  border: 2px dotted black;
  border-radius: 100%;
}

.contact-btn {
  color: white;
  width: 200px;
  background-color: #ee4b2b;
}
.contact-btn a {
  color: white;
}
.my-about {
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}

.container-form {
  color: #ee4b2b;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}

/* helpers */
.white {
  background-color: rgb(251, 248, 248);
  border: 3px solid rgb(230, 16, 16);
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.hide {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    101deg,
    rgba(131, 58, 180, 21) 0%,
    rgba(164, 111, 111, 21) 39%,
    rgba(252, 176, 69, 21) 100%
  );
}

.grid {
  display: grid;
}

.display-none {
  display: none;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.main-container .text-logo {
  font-family: Caveat, cursive;
  color: #fff7f5;
}

.main-container p {
  color: whitesmoke;
  max-width: 980px;
}

.row {
  flex-direction: row;
}

.score-container {
  font-family: Caveat, cursive;
  color: #ffffff;
  display: grid;
  justify-content: center;
  align-content: center;
}

.score-container h3 span {
  color: #ffffff;
  font-size: xx-large;
}

.img-game {
  max-height: 200px;
  max-width: 100%;
}

.games-container h1 {
  padding: 20px;
  font-family: Caveat, cursive;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
}

.games {
  font-family: Caveat, cursive;
  color: #ffffff;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  text-align: center;
}

.game-box1,
.game-box2 {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.toggle-menu {
  display: none;
}

@media (max-width: 980px) {
  .main-layout {
    background-color: rgb(21, 151, 208);
  }
}

/* @media (max-width: 750px) {
  .main-layout {
    min-width: 750px;
    background-color: rgb(245, 74, 74);
  }
} */
@media (max-width: 640px) {
  .main-layout {
    min-width: 640px;
  }

  .main-nav-list {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgb(255 255 255 / 90%);
    border-inline-start: 1px solid var(--clr3);
    /* box-shadow: -6px 0 17px rgb(0 0 0 / 26%); */
    min-width: 200px;

    transition: transform 0.6s, box-shadow 0.6s;

    transform: translateX(100%);
  }

  body.menu-opened .main-nav-list {
    box-shadow: -6px 0 17px rgb(0 0 0 / 26%);
    transform: translateX(0);
  }

  body.menu-opened .main-screen {
    opacity: 1;
    pointer-events: auto;
  }

  .toggle-menu {
    display: block;
  }

  .main-header .main-nav-list > li {
    border-bottom: 1px solid #553c9a;
  }

  .main-header .main-nav-list a {
    padding: 10px 20px;
    display: block;

    transition: background-color 0.2s;
  }
  .main-header .main-nav-list a:hover {
    background-color: #553c9a;
  }
  /* .main-nav-list {
    display: none;
  } */
  /* your styles here */
}
